


<%= link_to image_tag("best_seller.png",alt:"Help Logo",id:"best_seller")%>

<!-- editted--><!--equipment images-->
<%= link_to image_tag("Equipment/sport_equipment21.jpg",alt:"Help Logo", class:"image_equipment",id:"image_equipment21"),items_path  %>
<%= link_to image_tag("Equipment/sport_equipment5.jpg",alt:"Help Logo", class:"image_equipment",id:"image_equipment5"),items_path %>
<%= link_to image_tag("Equipment/sport_equipment18.jpg",alt:"Help Logo", class:"image_equipment",id:"image_equipment18"),items_path %>
<%= link_to image_tag("Equipment/sport_equipment19.jpg",alt:"Help Logo", class:"image_equipment",id:"image_equipment19") %>
<%= link_to image_tag("Equipment/sport_equipment20.jpg",alt:"Help Logo", class:"image_equipment",id:"image_equipment20") %>
<%= link_to image_tag("Equipment/sport_equipment22.png",alt:"Help Logo", class:"image_equipment",id:"image_equipment22") %>

<div class="myHome">
<% provide(:title, "Home") %>
<%= link_to image_tag("Equipment/sport_equipment23.png",alt:"Help Logo", class:"image_equipment3",id:"image_equipment23") %>
<h1>Home</h1>
 
<p>
  
  <!-- editted-->
  <h2>
    
  Welcome to the Home of expert sports equipment. 
  <br>
  
  We are the only online store
  that supplies just the equipment that was chosen by experts to be the best current
  equipment on the market.
  
   <br>
 
  <a href="https://rails-tutorials-vadimmalakhovski.c9users.io/">SportPro</a>
  We are to choose the best for you so you don't have to...
  
  <!-- editted-->
  
  </h2>

  <%= link_to image_tag("Logos/spartan_logo",alt:"Help Logo", class:"logos",id:"lift_logo") %>
  <%= link_to image_tag("Logos/nike_logo",alt:"Help Logo", class:"logos",id:"nike_logo") %>
  <%= link_to image_tag("Logos/shark_logo",alt:"Help Logo", class:"logos",id:"lift_logo") %>
    <%= link_to image_tag("Logos/SportPro_logo.jpg",alt:"Help Logo",class:"logos",id:"SportPro_logo") %>
  <%= link_to image_tag("Logos/rbk_logo",alt:"Help Logo", class:"logos",id:"lift_logo") %>
  <%= link_to image_tag("Logos/rival_logo",alt:"Help Logo", class:"logos",id:"lift_logo") %>

  

</p>
</div>


<%= link_to image_tag("Equipment/sport_equipment10.jpg",alt:"Help Logo", class:"image_equipment2",id:"image_equipment10") %>
<%= link_to image_tag("Equipment/sport_equipment11.jpg",alt:"Help Logo", class:"image_equipment2",id:"image_equipment11") %>
<%= link_to image_tag("Equipment/sport_equipment12.jpg",alt:"Help Logo", class:"image_equipment2",id:"image_equipment12") %>

<div class="myHome", id="more_info">
<% provide(:title, "More Information") %>

<h1>More Information</h1>
<p>
  <!-- editted-->
  <h2>
  We were inspired to open this store because of one realisation - too many options on the market. As a customer you want the most reliable, safe and estetically beautiful
  item that does not exeed it's price. Here we are offering just that. Our team of experts have chosen the best equipment that one can find on the market.
  <br>
  We supply the gym equipment world-widly for home use and gyms. The shipment is free for most of the europenean countries. Companies who buys sets of items get a 10% discount
  on all of our items.
    </h2>
</p>
 <br>
  <br>
<h1>Our top products are always displayd on the home page</h1>
  <!-- editted-->


</div>
<%= link_to image_tag("Equipment/sport_equipment3.jpg",alt:"Help Logo", class:"image_equipment",id:"image_equipment3") %>
<%= link_to image_tag("Equipment/sport_equipment16.jpg",alt:"Help Logo", class:"image_equipment",id:"image_equipment16") %>
<%= link_to image_tag("Equipment/sport_equipment17.jpg",alt:"Help Logo", class:"image_equipment",id:"image_equipment17") %>


<%= link_to image_tag("Equipment/sport_equipment1.jpg",alt:"Help Logo", class:"image_equipment",id:"image_equipment1") %>
<%= link_to image_tag("Equipment/sport_equipment2.jpg",alt:"Help Logo", class:"image_equipment",id:"image_equipment2") %>
<%= link_to image_tag("Equipment/sport_equipment15.jpg",alt:"Help Logo", class:"image_equipment",id:"image_equipment15") %>
<%= link_to image_tag("Equipment/sport_equipment4.jpg",alt:"Help Logo", class:"image_equipment",id:"image_equipment4") %>
<%= link_to image_tag("Equipment/sport_equipment6.jpg",alt:"Help Logo", class:"image_equipment",id:"image_equipment6") %>
<%= link_to image_tag("Equipment/sport_equipment7.jpg",alt:"Help Logo", class:"image_equipment",id:"image_equipment7") %>
<%= link_to image_tag("Equipment/sport_equipment8.jpg",alt:"Help Logo", class:"image_equipment",id:"image_equipment8") %>
<%= link_to image_tag("Equipment/sport_equipment9.jpg",alt:"Help Logo", class:"image_equipment",id:"image_equipment9") %>
<%= link_to image_tag("Equipment/sport_equipment14.png",alt:"Help Logo", class:"image_equipment",id:"image_equipment14") %>




<!-- editted--><!--link images-->
<%-#  link_to image_tag("home_fitness.jpg",alt:"Home Logo", class:"image_link",id:"image_link_home"), root_path %>
<%-#  link_to image_tag("products_fitness.jpg",alt:"Products Logo", class:"image_link",id:"image_link_products"), items_path %>
<%-#  link_to image_tag("about_fitness.jpg",alt:"About Logo", class:"image_link",id:"image_link_about"),about_path %>
<%-#  link_to image_tag("help_fitness.jpg",alt:"Help Logo", class:"image_link",id:"image_link_help"), help_path %>



<%= render 'layouts/categories' %>

