<h1>Categories</h1>




<br>

<table class="catalog">
    
    <% @categories.each_slice(2) do  |category_a, category_b| %>
    
    <tr>
        <td>
            <div class="category">
                <p><a href="/category/<%= category_a.title %>"><%= category_a.title %></a></p>
                <p><%= image_tag category_a.image, :style=>"height:100px" %></p>
                <p><%= category_a.description %></p>
            </div>
            
        </td>
        
         <td>
            <div class="category">
                <p><a href="/category/<%= category_b.title %>"><%= category_b.title %></a></p>
                <p><%= image_tag category_b.image, :style=>"height:100px" %></p>
                <p><%= category_b.description %></p>
            </div>
        </td>
    </tr>
    
    <% end %>
    
</table>